    .survey {
        max-width: 400px;
        border-style: solid;
        margin: auto;
        padding: 20px;
    }
    
    .error {
        color: darkred;
        font-size: 14px;
        font-family: 'Work Sans', sans-serif;
    }
    
    /* For SmartPhones---------------------------------------------------------------------------------------------- */
    
    @media only screen and (max-width: 500px) {
        .btn {
            padding: 4px 10px;
            font-size: 12px;
        }
    }
    
    @media (prefers-color-scheme: dark) {
        .survey {
            border-color: #717171;
        }
        input,
        textarea {
            background-color: lightgrey;
        }
        input {
            color: black;
        }
        .btn {
            color: black;
        }
    }