.lumslider,
.satslider,
.hueslider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    outline: 0;
    -webkit-appearance: none;
    height: 11px;
    -webkit-appearance: none;
    /* Override default look */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    appearance: none;
    background: linear-gradient(to right, hsl(0, 100%, 60%) 0%, hsl(30, 100%, 60%) 8.3%, hsl(60, 100%, 60%) 16.6%, hsl(90, 100%, 60%) 38%, hsl(120, 100%, 60%) 44%, hsl(150, 100%, 60%) 57%, hsl(180, 100%, 60%) 70%, hsl(210, 100%, 60%) 80%, hsl(240, 100%, 60%) 90%, hsl(270, 100%, 60%) 100%);
}

.hueslider::-webkit-slider-thumb,
.satslider::-webkit-slider-thumb,
.lumslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: lightgrey;
    cursor: pointer;
}

.colourpickercontainer {
    width: 60%;
    border: 1px solid black;
    margin: auto;
}