* {
    margin: 0;
    padding: 0;
}


/* Filter */

.dropdown-content {
    display: flex;
    justify-content: space-between;
}

.dropbtn>* {
    pointer-events: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: white;
    z-index: 2;
}

.dropdowngraphic {
    max-height: 9px;
    padding-right: 15px;
    z-index: 1;
}

.dropbtn {
    color: black;
    padding: 12px 30px 12px 30px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: lightgrey;
}

.dropbtn:hover {
    background-color: darkgrey;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.dropdown-content h2 {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 4vw;
    padding-right: 4vw;
    font-size: 18px;
    font-weight: 400;
}

.dropdown-content h3 {
    padding: 0px;
    font-size: 18px;
    font-weight: 400;
}

.show {
    display: block;
}

.dropdownhover {
    position: relative;
    display: inline-block;
}

.dropdown-content-hover {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 87%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdownhover:hover .dropdown-content-hover {
    display: block;
}

.dropdownhover:hover {
    background-color: darkgrey;
}

.dropdown-content-hover a {
    display: block;
    color: black;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    margin-top: 4px;
    padding: 12px 16px;
    border-bottom: 1px solid black;
}

.dropdown-content-hover a:hover {
    background-color: lightgray;
}

hr {
    border-top: 1px solid grey;
}

.bigpicwrapper {
    padding-top: 10px;
}

.picwrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 30px;
}

.piccontainer,
.piccontainerborder {
    height: 16vw;
    max-height: 350px;
    padding: 0px 5px;
}

.piccontainerborder {
    border: 3px solid grey;
}

.third {
    opacity: 1;
    max-height: 100%;
}

.thirdplaceholder {
    opacity: 0;
    backface-visibility: hidden;
    height: 100%;
    display: block;
    padding: 0px;
    margin: 0px;
}

.middle {
    opacity: 0;
    position: relative;
    bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.middle2 {
    opacity: 1;
    position: relative;
    bottom: -15px;
    background-color: transparent;
}

.middle2,
.middle h4 {
    font-size: 17px;
}

.piccontainerborder:hover .third,
.piccontainer:hover .third {
    opacity: 0.3;
}

.piccontainerborder:hover .middle,
.piccontainer:hover .middle {
    opacity: 1;
}

li {
    color: black;
    font-family: 'Work Sans', sans-serif;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    list-style-type: Disc;
    list-style-position: outside;
    padding-top: 10px;
    letter-spacing: -0.5px;
}

.active {
    background-color: #717171;
}


/* Search */

.searchcontainer {
    float: right;
    padding-left: 0px;
}

.search {
    padding: 6px;
    border: 1.5px solid lightgrey;
    border-radius: 5px;
    margin-right: 16px;
    margin-top: 4px;
    font-size: 17px;
}

.searchresults {
    max-width: 60%;
    margin: auto;
}

.piccontainerborder .videoinsert,
.piccontainer .videoinsert {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    overflow: hidden;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* For Tablets-------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1200px) {
    .wrapper {
        width: 80%;
    }
    .navbar {
        width: 80%;
    }
    .picwrapper {
        padding-bottom: 13px;
    }
    .middle {
        opacity: 1;
        position: relative;
        bottom: -10px;
        background-color: transparent;
    }
    .middle2,
    .middle h4 {
        font-size: 1.3vw;
    }
    .piccontainer,
    .piccontainerborder {
        height: 21vw;
    }
    .piccontainerborder:hover .third,
    .piccontainer:hover .third {
        opacity: 1;
    }
    li {
        font-size: 14px;
    }
    .tagcontainer h2 {
        margin: 5px;
        padding: 4px 8px 4px 8px;
        font-size: 10px;
    }
    .search {
        font-size: 13px;
    }
    @keyframes fastspin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}


/* For SmartPhones---------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 550px) {
    .wrapper {
        width: 90%;
        margin: auto;
    }
    .mobilehidetext {
        display: none;
    }
    .dropbtn {
        font-size: 12px;
    }
    .dropdown-content-hover {
        display: none;
    }
    .dropdown-content-hover a {
        display: none;
    }
    .dropdown-content h2 {
        padding: 15px 3.5vw 15px 3.5vw;
        font-size: 12px;
        font-weight: 400;
    }
    .picwrapper {
        all: unset;
        display: block;
        align-content: center;
        padding-top: 0px;
        width: 100%;
    }
    .piccontainerborder,
    .piccontainer {
        all: unset;
    }
    .middle2,
    .middle h4 {
        font-size: 16px;
        padding-bottom: 15px;
        border: none;
    }
    .third {
        width: 90vw;
        padding-top: 25px;
        border: none;
    }
    h2 {
        text-align: center;
        padding-bottom: 0px;
        font-size: 21px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
    .bullets {
        padding-top: 0px;
        padding-bottom: 0px;
        margin: 0px;
    }
    p {
        font-size: 14px;
        margin-top: 20px;
    }
    .paragraph_heading {
        margin-bottom: 0px;
    }
    li {
        font-size: 12px;
        padding-top: 5px;
    }
    .slideshow-container {
        padding-top: 10px;
    }
    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 2.5vw;
        width: 2.5vw;
        margin: 0 0.2vw;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        transition: background-color 0.6s ease;
    }
    .link {
        margin: 20px;
        text-align: center;
        color: #5D5C61;
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
        font-size: 14px;
    }
    .thirdplaceholder {
        display: none;
    }
    .picofme {
        position: absolute;
        margin-top: 32px;
        z-index: 3;
        max-width: 60px;
    }
    .largegear {
        position: absolute;
        margin-top: 32px;
        max-width: 67px;
    }
    .smallgear {
        position: absolute;
        margin-left: 32px;
        max-width: 31px;
    }
    .survey {
        max-width: 85%;
    }
    .btn {
        padding: 4px 10px;
        font-size: 12px;
    }
    .searchcontainer {
        float: left;
        padding-right: 500px;
    }
    .search {
        font-size: 12px;
    }
    .searchresults {
        max-width: 95%;
    }
    .colourpickercontainer {
        width: 85%;
    }
}