* {
    margin: 0;
    padding: 0;
}

/* Filter */

.dropdown-content {
    display: flex;
    justify-content: space-between;
}

.dropbtn>* {
    pointer-events: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: white;
    z-index: 2;
}

.dropdowngraphic {
    max-height: 9px;
    padding-right: 15px;
    z-index: 1;
}

.dropbtn, .see_more_btn {
    color: black;
    padding: 11px 30px 11px 30px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    background-color: lightgrey;
}

.see_more_btn {
    float: right; 
    margin-left: 30px;
}

.dropbtn:hover, .see_more_btn:hover {
    background-color: darkgrey;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.dropdown-content h2 {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 4vw;
    padding-right: 4vw;
    font-size: 18px;
    font-weight: 400;
}

.dropdown-content h3 {
    padding: 0px;
    font-size: 18px;
    font-weight: 400;
}

.show {
    display: block;
}

.dropdownhover {
    position: relative;
    display: inline-block;
}

.dropdown-content-hover {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 87%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdownhover:hover .dropdown-content-hover {
    display: block;
}

.dropdownhover:hover {
    background-color: darkgrey;
}

.dropdown-content-hover a {
    display: block;
    color: black;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    margin-top: 4px;
    padding: 12px 16px;
    border-bottom: 1px solid black;
}

.dropdown-content-hover a:hover {
    background-color: lightgray;
}

hr {
    border-top: 1px solid grey;
}

.picwrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 30px;
}

.highlights {
    margin-bottom: 20px;
     font-size: 24px;
}

.big_featured_wrapper, .big_featured_wrapper {
    max-width: 900px;
    margin: auto;
}

.featured_project_wrapper_right, .featured_project_wrapper_left {
    margin-top: 70px;
    overflow: auto;
}

.featured_project_wrapper_right img, .featured_project_wrapper_left img {
    max-width: 350px;
    padding: 0px 40px 30px 40px;
    float: left;
}

.featured_project_wrapper_right img {
    float: right;
}

.featured_project_wrapper_right p, .featured_project_wrapper_left p {
    padding: 20px 10px 10px 40px;
    margin: 0px;
}

.featured_project_wrapper_right p {
    text-align: right;
}

.featured_project_wrapper_right h3, .featured_project_wrapper_left h3 {
    text-align: left;
    padding: 10px 30px 10px 40px;
}

.featured_project_wrapper_right h3 {
    text-align: right;
}

.featured_project_wrapper_right h2, .featured_project_wrapper_left h2 {
    padding: 10px 30px 10px 40px;
    text-align: left;
}

.featured_project_wrapper_right h2 {
    text-align: right;
}

.piccontainer, .piccontainerborder {
    height: 16vw;
    position: relative;
    max-height: 350px;
    padding: 0px 5px;
}

.piccontainerborder {
    border: 3px solid grey;
    background-color: white;
}

.piccontainerborder:hover {
    background-color: unset;
}

.third {
    opacity: 1;
    max-height: 100%;
}

.thirdplaceholder {
    opacity: 0;
    backface-visibility: hidden;
    height: 100%;
    display: block;
    padding: 0px;
    margin: 0px;
}

.middle {
    opacity: 0;
    position: relative;
    bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.middle2 {
    opacity: 1;
    position: relative;
    bottom: -15px;
    background-color: transparent;
}

.middle h4 {
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    font-size: 19px;
}

.piccontainerborder:hover .third, .piccontainer:hover .third {
    opacity: 0.3;
}

.piccontainerborder:hover .middle, .piccontainer:hover .middle {
    opacity: 1;
}

.active {
    background-color: #717171;
}

.home_rule {
    margin: 45px 0px;
}
/* Search */

.searchcontainer {
    float: right;
    padding-left: 0px;
}

.search {
    padding: 6px;
    border: 1.5px solid lightgrey;
    border-radius: 5px;
    margin-right: 16px;
    margin-top: 4px;
    font-size: 17px;
}

.searchresults {
    max-width: 60%;
    margin: auto;
}

.piccontainerborder .videoinsert, .piccontainer .videoinsert {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    overflow: hidden;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* For Tablets-------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1200px) {
    .wrapper {
        width: 80%;
    }
    .picwrapper {
        padding-bottom: 13px;
    }
    .middle {
        opacity: 1;
        position: relative;
        bottom: -10px;
        background-color: transparent;
    }
    .middle2, .middle h4 {
        font-size: 1.3vw;
    }
    .piccontainer, .piccontainerborder {
        height: 21vw;
    }
    .piccontainerborder:hover .third, .piccontainer:hover .third {
        opacity: 1;
    }
    li {
        font-size: 14px;
        color: black;
        
    }
    .tagcontainer h2 {
        margin: 5px;
        padding: 4px 8px 4px 8px;
        font-size: 10px;
    }
    .search {
        font-size: 13px;
    }
    @keyframes fastspin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

/* For SmartPhones---------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 550px) {
    .wrapper {
        width: 90%;
        margin: auto;
    }
    .mobilehidetext {
        display: none;
    }
    .dropbtn, .see_more_btn {
        font-size: 12px;
    }
    .dropdown-content-hover {
        display: none;
    }
    .dropdown-content-hover a {
        display: none;
    }
    .dropdown-content h2 {
        padding: 15px 3.5vw 15px 3.5vw;
        font-size: 12px;
        font-weight: 400;
    }
    .picwrapper {
        all: unset;
        display: block;
        align-content: center;
        padding-top: 0px;
        width: 100%;
    }
    .piccontainerborder, .piccontainer {
        all: unset;
    }
    .highlights {
        margin-bottom: -20px;
    }
    .big_featured_wrapper, .big_featured_wrapper {
        max-width: 900px;
        margin: auto;
        transform: translate(0, -30px)
    }
    .featured_project_wrapper_right, .featured_project_wrapper_left {
        margin-top: 50px;
        overflow: auto;
    }
    .featured_project_wrapper_right img, .featured_project_wrapper_left img {
        max-width: 85vw;
        padding: 0px 0px 0px 0px;
        float: none;
    }
    .featured_project_wrapper_right p, .featured_project_wrapper_left p {
        padding: 10px 0px 10px 0px;
        margin: 0px;
        text-align: left;
    }
    .featured_project_wrapper_right h3, .featured_project_wrapper_left h3 {
        text-align: left;
        padding: 10px 0px 10px 0px;
    }
    .featured_project_wrapper_right h2, .featured_project_wrapper_left h2 {
        text-align: left;
        padding: 0px;
        padding-top: 30px;
    }
    .middle h4 {
        position: static;
        font-size: 16px;
        border: none;
        padding-bottom: 20px;
    }
    .third {
        width: 90vw;
        padding-top: 25px;
        border: none;
    }
    .paragraph_heading {
        margin-bottom: 0px;
    }
    .thirdplaceholder {
        display: none;
    }
    .survey {
        max-width: 85%;
    }
    .btn {
        padding: 4px 10px;
        font-size: 12px;
    }
    .highlights {
        padding-top: 0px;
        transform: translateY(11px);
    }
    .searchcontainer {
        float: right;
    }
    .search {
        font-size: 12px;
    }
    .searchresults {
        max-width: 95%;
    }
    .home_rule {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    .dropdown {
        background-color: #131313;
    }
    .dropdown-content, .dropdown-content-hover {
        background-color: #252525;
    }
    .search {
        border: 1.5px solid #3c3c3c;
    }

    .dropbtn, .see_more_btn {
        background-color: #3c3c3c;
        color: white;
    }
    .dropdowngraphic {
        filter: invert(100%)
    }
    .dropdownhover:hover, .dropdownhover a:hover {
        background-color: #808080;
    }
    .dropdown-content-hover a {
        color: white;
    }
    .piccontainerborder {
        border: none;
    }
}