* {
    margin: 0;
}

.loader-wrapper {
    background-color: lightgrey;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.picofme {
    position: inherit;
    margin-top: 90px;
    z-index: 3;
    max-width: 112px;
}

.background {
    width: 100%;
    background-color: white;
    min-height: calc(100vh - 70px);
}

.banner {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    width: 60%;
    text-align: center;
    padding: 20px;
    margin: 0px;
    display: flex;
    align-items: center
}

.sidenav {
    display: none;
}

.sidenavbutton {
    display: none;
}

.sidenav a {
    display: none;
}

.sidenav a:hover {
    display: none;
}

.sidenav .closebtn {
    display: none;
}

.navbarwrapper {
    width: 100%;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 3;
}

.navbar {
    width: 65%;
}

.navbar ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar li {
    list-style-type: none;
    padding: 0px;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 2.6vw 12px 2.6vw;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: darkgrey;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

p {
    color: black;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 20px;
}

h1 {
    color: black;
    font-size: 26px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    letter-spacing: -1px;
}

h3 {
    color: black;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-weight: 400;
    padding: 0px;
    font-size: 16px;
}

.logo {
    max-width: 40px;
    padding-right: 20px;
}

.logomobile {
    display: none;
}

.socialmediacontainer {
    margin-left: auto;
}

.socialmedialogo {
    width: 30px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.wrapper {
    width: 60%;
    margin: auto;
}

.title {
    display: block;
    width: 240px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.wordtitle {
    font-size: 40px;
    font-weight: 500;
}

.tagcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 0px;
}

.tagcontainer h2 {
    display: inline-block;
    padding: 5px 9px 5px 9px;
    margin-left: 5px;
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

.headingbullets {
    position: relative;
    top: -10px;
    list-style: none;
    display: inline;
    padding-top: 10px;
}

.headingbullets li {
    color: black;
    font-family: 'Work Sans', sans-serif;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    list-style-type: Disc;
    list-style-position: outside;
    margin-left: 17px;
    padding-left: 10px;
    padding-top: 20px;
}

.hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    width: 100%;
}

.herovideo {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
    height: auto;
    background-color: transparent !important;
}

h2 {
    color: black;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    padding: 25px 20px 0px 0px;
}

.bullets {
    position: relative;
    top: -15px;
    left: 15px;
    list-style: none;
    display: inline;
    list-style-position: inside;
}

li {
    color: black;
    font-family: 'Work Sans', sans-serif;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    list-style-type: Disc;
    list-style-position: outside;
    padding-top: 10px;
    letter-spacing: -0.5px;
}

.halfimageleft {
    display: block;
    width: 50%;
    padding: 30px 50px 60px 0px;
    float: left;
}

.halfimageright {
    display: block;
    width: 50%;
    padding: 30px 50px 60px 0px;
    float: right;
}

.doublerow {
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    height: 25vw;
    width: 100%;
    max-width: 100%;
}

.doublerow .inner {
    position: relative;
    height: 25vw;
}

.doublerow .halfimageright {
    height: 100%;
    float: right;
    padding: 0px;
    padding-left: 20px;
    width: auto;
}

.doublerow .halfimageleft {
    height: 100%;
    padding: 0px;
    float: left;
    width: auto;
}


/* Slideshow container */

.slideshow-container {
    padding-top: 30px;
    width: 100%;
    position: relative;
    margin: auto;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: grey;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin-left: 1vw;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

a {
    text-decoration: none;
}

.link {
    margin: 20px;
    text-align: center;
    color: #5D5C61;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.footer {
    bottom: 0px;
    left: 0px;
    height: 40px;
    background-color: lightgray;
    text-align: center;
    width: 100%;
}

.footer p {
    margin-bottom: 0px;
    padding-top: 10px;
    margin-left: auto;
    margin-left: auto;
}

.code {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid blue;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.4em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.3em;
    display: block;
    word-wrap: break-word;
}

.Canvas {
    width: 100%;
    height: 26vw;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* For Tablets-------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1024px) {
    .wrapper {
        width: 80%;
        margin: auto;
    }
    .navbar {
        width: 80%;
    }
    .headingbullets li {
        font-size: 16px;
    }
    li {
        font-size: 14px;
    }
    .error {
        color: darkred;
        font-size: 12px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
    }
    .banner-content {
        color: "white";
        width: 80%;
    }
    .logo {
        padding-right: 20px;
    }
    .illumuitar {
        width: 460px;
    }
    .tagcontainer h2 {
        text-align: center;
        padding: 4px 8px 4px 8px;
        font-size: 14px;
    }
    .doublerow {
        height: 30vw;
    }
    .doublerow .inner {
        height: 30vw;
    }
    .Canvas {
        width: 100%;
        height: 30vw;
    }
    @keyframes fastspin {
        0% {
            transform: rotate(32deg);
        }
        100% {
            transform: rotate(232deg);
        }
    }
}


/* For SmartPhones---------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 500px) {
    .wrapper {
        width: 90%;
        margin: auto;
    }
    .banner-content {
        display: none;
        padding: 10px;
    }
    .navbarwrapper {
        display: none;
    }
    .sidenav {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 3;
        top: 0;
        right: 0;
        background-color: #111;
        opacity: 1;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 10px;
    }
    .sidenavbutton {
        display: block;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        top: 17px;
        right: 30px;
    }
    .sidenav a {
        display: block;
        padding: 8px 0px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #f1f1f1;
        display: block;
        transition: 0.3s;
        top: 0;
        right: 0;
    }
    .sidenav a:hover {
        display: block;
        color: #f1f1f1;
    }
    .sidenavtext {
        color: #f1f1f1;
        font-size: 20px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
    }
    .socialmediacontainermobile {
        margin: 0px;
        position: absolute;
        bottom: 20px;
        right: 40px;
    }
    .socialmediacontainermobile a {
        justify-content: center;
        width: 30px;
    }
    .socialmedialogomobile {
        width: 30px;
        padding: 10px 0px 10px 0px;
        margin-left: auto;
        margin-right: auto;
        filter: invert(100%);
        z-index: 10;
    }
    .socialmedialogo {
        display: none;
    }
    .logomobile {
        display: block;
        position: relative;
        top: 20px;
        left: 20px;
        width: 40px;
        padding: 0px;
    }
    .socialmedialogomobile {
        width: 30px;
        padding: 10px 0px 10px 0px;
        margin-left: auto;
        margin-right: auto;
        filter: invert(100%);
        z-index: 10;
    }
    .socialmedialogo {
        display: none;
    }
    .logo h1 {
        display: block;
    }
    .banner-content {
        padding-bottom: 10px;
    }
    .dropbtn {
        font-size: 12px;
    }
    .dropdown-content-hover {
        display: none;
    }
    .dropdown-content-hover a {
        display: none;
    }
    .dropdown-content h2 {
        padding: 15px 3.5vw 15px 3.5vw;
        font-size: 12px;
        font-weight: 400;
    }
    .zerogravitygarden {
        max-width: 170px;
        padding-top: 10px;
    }
    .wordtitle {
        font-size: 30px;
        font-weight: 500;
    }
    .embla {
        position: absolute;
        left: 50%;
        top: 0px;
        transform: translate(-50%, 0%);
        padding: 20px;
        width: 140px;
    }
    .tagcontainer {
        position: relative;
        top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .tagcontainer h2 {
        display: inline-block;
        padding: 2px 6px 2px 6px;
        margin-left: 5px;
        font-size: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: black;
    }
    .headingbullets li {
        font-size: 1-px;
        padding-top: 35px;
        padding-bottom: 0px;
        text-align: left;
    }
    .hero {
        padding-top: 10px;
        padding-bottom: 0px;
        margin: 0px;
    }
    .halfimageleft {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        align-self: center;
        margin: 0 auto;
    }
    .halfimageright {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        align-self: center;
        margin: 0 auto;
    }
    .doublerow {
        display: inline-table;
        height: 60vw;
    }
    .doublerow .inner {
        height: 60vw;
    }
    .inner .halfimageleft {
        float: unset;
        margin: auto;
        padding-bottom: 20px;
    }
    .inner .halfimageright {
        float: unset;
        margin: auto;
        padding: 20px;
    }
    .bullets {
        padding-top: 0px;
        padding-bottom: 0px;
        margin: 0px;
    }
    .error {
        color: darkred;
        font-size: 10px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
    }
    .title {
        padding-top: 10px;
    }
    p {
        font-size: 16px;
        margin-top: 20px;
    }
    li {
        font-size: 12px;
        padding-top: 5px;
    }
    .slideshow-container {
        padding-top: 20px;
    }
    .search {
        padding: 6px;
        border: 1.5px solid lightgrey;
        border-radius: 5px;
        margin-right: 16px;
        font-size: 17px;
    }
    /* The dots/bullets/indicators */
    .dot {
        height: 2.5vw;
        width: 2.5vw;
        margin: 0 0.2vw;
    }
    .link {
        margin: 20px;
        text-align: center;
        color: #5D5C61;
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
        font-size: 14px;
    }
    .code {
        font-size: 13px;
        line-height: 1.2;
        margin-bottom: 1em;
        padding: 0.5em 0.8em;
    }
    .Canvas {
        width: 100%;
        height: 35vw;
    }
    @keyframes fastspin {
        0% {
            transform: rotate(60deg);
        }
        100% {
            transform: rotate(260deg);
        }
    }
}

* {
    margin: 0;
}

.loader-wrapper {
    background-color: lightgrey;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.picofme {
    position: absolute;
    margin-top: 90px;
    z-index: 12;
    max-width: 151px;
}

.largegear {
    position: inherit;
    z-index: 2;
    max-width: 175px;
    margin-top: 90px;
    animation: slowspin 2s linear infinite;
}

.smallgear {
    position: inherit;
    margin-left: 72px;
    max-width: 72px;
    z-index: 1;
    animation: fastspin 2s linear infinite;
}

.background {
    width: 100%;
    background-color: white;
    min-height: calc(100vh - 70px);
}

.banner {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    width: 65%;
    text-align: center;
    padding: 20px;
    margin: 0px;
    display: flex;
    align-items: center
}

.sidenav {
    display: none;
}

.sidenavbutton {
    display: none;
}

.sidenav a {
    display: none;
}

.sidenav a:hover {
    display: none;
}

.sidenav .closebtn {
    display: none;
}

.navbarwrapper {
    width: 100%;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 3;
}

.navbar {
    width: 65%;
}

.navbar ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar li {
    list-style-type: none;
    padding: 0px;
    margin-left: 10px;
}

.link {
    all: none;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 2.7vw 12px 2.7vw;
    text-decoration: none;
}

.navbar ul li a:hover {
    transition-duration: 0.5s;
    transition-timing-function: linear;
    background-color: darkgrey;
}

.dropdown-content {
    display: flex;
    justify-content: space-between;
}

.dropbtn>* {
    pointer-events: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: white;
    z-index: 2;
}

.dropdowngraphic {
    max-height: 9px;
    padding-right: 15px;
    z-index: 1;
}


/* The container <div> - needed to position the dropdown content */

.dropbtn {
    color: black;
    padding: 12px 30px 12px 30px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: lightgrey;
}

.dropbtn:hover {
    background-color: darkgrey;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.dropdown-content h2 {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 4vw;
    padding-right: 4vw;
    font-size: 18px;
    font-weight: 400;
}

.dropdown-content h3 {
    padding: 0px;
    font-size: 18px;
    font-weight: 400;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}

.dropdownhover {
    position: relative;
    display: inline-block;
}

.dropdown-content-hover {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 87%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdownhover:hover .dropdown-content-hover {
    display: block;
}

.dropdownhover:hover {
    background-color: darkgrey;
}

.dropdown-content-hover a {
    display: block;
    color: black;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    margin-top: 4px;
    padding: 12px 16px;
    border-bottom: 1px solid black;
}

.dropdown-content-hover a:hover {
    background-color: lightgray;
}

p {
    color: black;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 20px;
}

h1 {
    color: black;
    font-size: 26px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    letter-spacing: -1px;
}

hr {
    border-top: 1px solid grey;
}

.logo {
    max-width: 40px;
    padding-right: 20px;
}

.logomobile {
    display: none;
}

.socialmediacontainer {
    margin-left: auto;
}

.socialmedialogo {
    width: 30px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.wrapper {
    width: 65%;
    margin: auto;
}

.tagcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 0px;
}

.tagcontainer h2 {
    display: inline-block;
    padding: 5px 9px 5px 9px;
    margin-left: 8px;
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

.bigpicwrapper {
    padding-top: 10px;
}

.picwrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    height: 17vw;
}

.piccontainer {
    height: 100%;
    max-width: 40%;
}

.third {
    opacity: 1;
    backface-visibility: hidden;
    height: 100%;
    display: block;
    padding: 0px;
    margin: 0px;
}

.thirdplaceholder {
    opacity: 1;
    backface-visibility: hidden;
    height: 100%;
    display: block;
    padding: 0px;
    margin: 0px;
}

.middle {
    opacity: 0;
    position: relative;
    bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.middle2 {
    opacity: 1;
    position: relative;
    bottom: -15px;
    background-color: transparent;
}

.middle2,
.middle h4 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.3vw;
    font-weight: 500;
    color: black;
}

.piccontainer:hover .third {
    opacity: 0.3;
}

.piccontainer:hover .middle {
    opacity: 1;
}

.herovideo {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
    height: auto;
}

h2 {
    color: black;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    padding: 25px 20px 0px 0px;
}

li {
    color: black;
    font-family: 'Work Sans', sans-serif;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    list-style-type: Disc;
    list-style-position: outside;
    padding-top: 10px;
    letter-spacing: -0.5px;
}

a {
    text-decoration: none;
    /* no underline */
}

.active {
    background-color: #717171;
}

.footer {
    bottom: 0px;
    left: 0px;
    height: 40px;
    background-color: lightgray;
    text-align: center;
    width: 100%;
}

.footer p {
    margin-bottom: 0px;
    padding-top: 10px;
    margin-left: auto;
    margin-left: auto;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 4;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (Image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation - Zoom in the Modal */

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

label,
h3 {
    color: black;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-weight: 500;
    padding: 0px;
    font-size: 16px;
}

h5,
h4 {
    color: black;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-weight: 500;
    padding: 0px;
    font-size: 21px;
}

.survey {
    max-width: 400px;
    border-style: solid;
    margin: auto;
    padding: 20px;
}

.error {
    color: darkred;
    font-size: 13px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    width: 100%;
}

.searchcontainer {
    float: right;
    padding-left: 0px;
}

.search {
    padding: 6px;
    border: 1.5px solid lightgrey;
    border-radius: 5px;
    margin-right: 16px;
    font-size: 17px;
}

.searchresults {
    max-width: 60%;
    margin: auto;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.lumslider,
.satslider,
.hueslider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    outline: 0;
    -webkit-appearance: none;
    height: 11px;
    -webkit-appearance: none;
    /* Override default look */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    appearance: none;
    background: linear-gradient(to right, hsl(0, 100%, 60%) 0%, hsl(30, 100%, 60%) 8.3%, hsl(60, 100%, 60%) 16.6%, hsl(90, 100%, 60%) 38%, hsl(120, 100%, 60%) 44%, hsl(150, 100%, 60%) 57%, hsl(180, 100%, 60%) 70%, hsl(210, 100%, 60%) 80%, hsl(240, 100%, 60%) 90%, hsl(270, 100%, 60%) 100%);
}

.hueslider::-webkit-slider-thumb,
.satslider::-webkit-slider-thumb,
.lumslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: lightgrey;
    cursor: pointer;
}

.colourpickercontainer {
    width: 60%;
    border: 1px solid black;
    margin: auto;
}

.piccontainer .videoinsert {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    overflow: hidden;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes slowspin {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes fastspin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* For Tablets-------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1024px) {
    .wrapper {
        width: 80%;
    }
    .navbar {
        width: 80%;
    }
    .picwrapper {
        padding-bottom: 13px;
        height: 21vw;
    }
    .middle {
        opacity: 1;
        position: relative;
        bottom: -10px;
        background-color: transparent;
    }
    .middle2,
    .middle h4 {
        font-size: 1.3vw;
    }
    .piccontainer:hover .third {
        opacity: 1;
    }
    .picofme {
        position: absolute;
        margin-top: 50px;
        z-index: 3;
        max-width: 112px;
    }
    .largegear {
        position: absolute;
        margin-top: 50px;
        max-width: 134px;
    }
    .smallgear {
        position: absolute;
        margin-left: 75px;
        max-width: 62px;
    }
    .dropbtn {
        padding: 10px 25px 10px 25px;
        font-size: 1.8vw;
    }
    .dropdowngraphic {
        max-height: 8px;
    }
    .dropdown-content-hover a {
        font-size: 1.8vw;
        margin-top: 2px;
        padding: 8px 12px;
    }
    .dropdown-content h2 {
        padding: 15px 3.5vw 15px 3.5vw;
        font-size: 1.8vw;
        font-weight: 400;
    }
    .dropdown-content-hover {
        display: inline;
        padding: 15px;
    }
    li {
        font-size: 14px;
    }
    .banner-content {
        color: "white";
        width: 80%;
    }
    .logo {
        padding-right: 20px;
    }
    .tagcontainer h2 {
        margin: 5px;
        padding: 4px 8px 4px 8px;
        font-size: 10px;
    }
    .search {
        font-size: 13px;
    }
    @keyframes fastspin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}


/* For SmartPhones---------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 550px) {
    .wrapper {
        width: 90%;
        margin: auto;
    }
    .mobilehidetext {
        display: none;
    }
    .banner-content {
        display: flex;
        align-items: center;
    }
    .logo {
        float: left;
    }
    .banner-content h1 {
        font-size: 5vw;
        float: left;
    }
    .navbarwrapper {
        display: none;
    }
    .sidenav {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 3;
        top: 0;
        right: 0;
        background-color: #111;
        opacity: 0;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 10px;
    }
    .sidenavbutton {
        display: block;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        top: 17px;
        right: 30px;
    }
    .sidenav a {
        display: block;
        padding: 8px 0px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #f1f1f1;
        display: block;
        transition: 0.3s;
        top: 0;
        right: 0;
    }
    .sidenav a:hover {
        display: block;
        color: #f1f1f1;
    }
    .sidenavtext {
        color: #f1f1f1;
        font-size: 20px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
    }
    .socialmediacontainermobile {
        margin: 0px;
        position: absolute;
        bottom: 20px;
        right: 40px;
    }
    .socialmediacontainermobile a {
        justify-content: center;
        width: 30px;
    }
    .socialmedialogomobile {
        width: 30px;
        padding: 10px 0px 10px 0px;
        margin-left: auto;
        margin-right: auto;
        filter: invert(100%);
        z-index: 10;
    }
    .socialmedialogo {
        display: none;
    }
    .logo h1 {
        display: block;
    }
    .banner-content {
        padding-bottom: 10px;
    }
    .dropbtn {
        font-size: 12px;
    }
    .dropdown-content-hover {
        display: none;
    }
    .dropdown-content-hover a {
        display: none;
    }
    .dropdown-content h2 {
        padding: 15px 3.5vw 15px 3.5vw;
        font-size: 12px;
        font-weight: 400;
    }
    .picwrapper {
        all: unset;
        display: block;
        align-content: center;
        padding-top: 0px;
        width: 100%;
    }
    .piccontainer {
        all: unset;
    }
    .middle2,
    .middle h4 {
        font-size: 16px;
        padding-bottom: 15px;
    }
    .third {
        width: 90vw;
        padding-top: 25px;
    }
    h2 {
        text-align: center;
        padding-bottom: 0px;
        font-size: 21px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
    .bullets {
        padding-top: 0px;
        padding-bottom: 0px;
        margin: 0px;
    }
    p {
        font-size: 14px;
        margin-top: 20px;
    }
    li {
        font-size: 12px;
        padding-top: 5px;
    }
    .slideshow-container {
        padding-top: 10px;
    }
    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 2.5vw;
        width: 2.5vw;
        margin: 0 0.2vw;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        transition: background-color 0.6s ease;
    }
    .link {
        margin: 20px;
        text-align: center;
        color: #5D5C61;
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
        font-size: 14px;
    }
    .thirdplaceholder {
        display: none;
    }
    .picofme {
        position: absolute;
        margin-top: 32px;
        z-index: 3;
        max-width: 60px;
    }
    .largegear {
        position: absolute;
        margin-top: 32px;
        max-width: 67px;
    }
    .smallgear {
        position: absolute;
        margin-left: 32px;
        max-width: 31px;
    }
    .survey {
        max-width: 85%;
    }
    .searchcontainer {
        float: left;
        padding-right: 500px;
    }
    .search {
        font-size: 12px;
    }
    .searchresults {
        max-width: 95%;
    }
    .colourpickercontainer {
        width: 85%;
    }
    @keyframes fastspin {
        0% {
            transform: rotate(20deg);
        }
        100% {
            transform: rotate(380deg);
        }
    }
}